
/* Utility */
.tombol {
    text-transform: uppercase;
    border-radius: 40px;
}

.navbar {
    box-shadow: none;
}
/* Jumbotron */


.jumbotron {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img/img1.jpg);
    background-size: cover;
}

.jumbotron .display-4, .row{
    text-align: center !important;
    margin-top: 2px;
}

.jumbotron img {
    width: 60%
}

/* ABOUT */
.about img {
    border:none;
    width: 30%;
}

.about p {
    padding-top: 20px;
;
    
}

.about h2 {
    color: rgb(35, 13, 114);
    font-size: 30px;
    font-weight:bold;
}
.about h3{
    color: rgb(35, 13, 114);
    padding-top: 40px;
}

/* Iklan */
.iklan .item {
    width: 100%;
}
.iklan .owl-dots {
    display: none;
}



/* COSTUMER */
.costumer .title {
    color: rgb(35, 13, 114);
    font-size: 45px;
    font-weight:bold;
}

.costumer .kartu {
    color: rgb(35, 13, 114);
    font-size: 25px;
    font-weight:bold;
}

.costumer .card {
    padding-top: 20px;
}

.costumer .gambar {
    width: 80%;
}

/* Video */
.video .wrapper {
    background: url(img/video-image-02.jpg);
    height: 12rem;
    background-size: cover;
    border-radius: 5px;

}

.video a {
    align-self: center;
}

.video a i {
    padding-top: 19%;
}
/* Comunicate */
.comunicate .gambar2 {
    width: 80%;
}

.comunicate h3  {
    color: rgb(75, 26, 252);
    font-size: 20px;
    font-weight:bold;
}
.comunicate h2 {
    color: rgb(35, 13, 114);
    font-size: 35px;
    font-weight:bold;
}
.costumer p {
    font-size: 18px;
}

/* Team */
.anggota .gallery li {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: 5px solid rgba(211, 202, 202, 0.8);
    position: relative;
}

.anggota .gallery li img, .anggota .gallery li span, .anggota .gallery li {
    border-radius: 50%
}

.anggota .gallery li span {
    display: block;
    width: 150px;
    height: 150px;
    background-color: rgba(174, 0, 255, 0.651);
    position: absolute;
    top: 0;
    line-height: 150px;
    color: white;
    text-shadow: 1px 1px 1px gray;
    opacity: 0;
    transition: 0.3s;
}

.anggota .gallery li a:hover span {
    opacity: 1;
}

/* Contac */
.contac h3 {
    color: rgb(75, 26, 252);
    font-size: 20px;
    font-weight:bold;
}
.contac h2 {
    color: rgb(35, 13, 114);
    font-size: 35px;
    font-weight:bold;
}
.contac p {
    font-size: 18px;
}

.contac .gambar2 {
    width: 80%;
}


/* footer */


/* DESKTOP VERSION */
@media (min-width: 992px) { 
    /* Animated */
    
    /* NavBar */
    .nav-brand, .nav-link {
        color: white !important;
    }

    .nav-link {
        text-transform: uppercase;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid blue;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    /* Jumbotron */
    .jumbotron {
        margin-top: -86px;
    }
    .jumbotron .display-4, .row{
        text-align: left !important;
        margin-top: 20px;
    }
    .jumbotron img {
        width: 70%;
    }

    /* ABOUT */
    .about h2 {
        color: rgb(35, 13, 114);
        font-size: 50px;
    }
    .about h3{
        color: rgb(35, 13, 114);
        padding-top: 40px;
    }
    .about img {
        border:none;
        width: 50%;
    }

    /* COSTUMER */
    .costumer .title {
    color: rgb(35, 13, 114);
    font-size: 60px;
    font-weight:bold;
    text-align: left;
    }

    .costumer .kartu {
        color: rgb(35, 13, 114);
        font-size: 30px;
        font-weight:bold;
    }

    .costumer .gambar {
        width: 100%;
    }

    /* Video */

    .video .wrapper {
        background: url(img/video-image-02.jpg);
        height: 30rem;
        background-size: cover;
        border-radius: 10px;
    
    }
    
    .video a {
        align-self: center;
    }
    
    .video a i {
        margin-left: 50%;
    }

    /* Team */
    .anggota .gallery li {
        width: 250px;
        height: 250px;
        overflow: hidden;
        border: 5px solid rgba(211, 202, 202, 0.8);
        position: relative;
    }

    .anggota .gallery li img, .anggota .gallery li span, .anggota .gallery li {
        border-radius: 50%
    }

    .anggota .gallery li span {
        display: block;
        width: 250px;
        height: 250px;
        background-color: rgba(174, 0, 255, 0.651);
        position: absolute;
        top: 0;
        line-height: 250px;
        color: white;
        text-shadow: 1px 1px 1px gray;
        opacity: 0;
        transition: 0.3s;
    }

    .anggota .gallery li a:hover span {
        opacity: 1;
    }

    /* Comunicate */
    .comunicate .gambar2 {
        width: 100%;
    }

    /* FOOTER */
    .footer .bg-blue {
        background-image: rgb(40, 2, 75);
    }

    .footer .mb {
        margin-bottom: 0;
    }
}
